body header {
    background-color: blue;
    background-image: linear-gradient(to right, 	#4169E1, indigo);
}

body header h1 {
    color: white;
    text-align: center;
    padding: 10px 0;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
  }

main {
    width: 94%;
  }

#form-title {
    color: black;
    font-weight: bold;
}

#city-form {
    border-bottom: solid black 1px;
}

#city {
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}

.search-btn {
    background-color:#6495ED;
    color: white;
    width: 100%;
    margin: 10px 0 20px 0;
    padding: 5px 0;
    border-radius: 10px;
}

#featured-city-buttons {
    margin-top: 10px;
}

.city-btn {
    background-color: #A9A9A9;
    color: black;
    width: 100%;
    margin: 7px 0;
    padding: 7px 0;
    border-radius: 10px;
    border: transparent;
}